{% extends 'LamMdlBundle::layout.html.twig' %}

{% block body %}
{% if mess %}
 <p>{{ mess }}</p>
{% endif  %}
 
 {% if form is defined%}
  <h1>Inscription Formation SPORT </h1>
  <p>- {{TitreFormation}}, date: {{dateStage|date('Y-m-d')}}, horaire: {{horaireStage}} </p></br>
  <p> Nombre de place restante : {{nbPlace-nbTotalInscrit}} </p>
  
  <form action="{{ path('LamMdlBundle_InscriptionSport',{'idFormation':idFormation}) }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form)}}
          
          <p> <button type="submit">Ajout</button></p>
      </form>

  <p><a href="{{'http://localhost/Mission3Symfony/SymfonyMDL/web/app_dev.php/Mdl/'}}">Retour</a></p>
{% endif  %}
{% endblock %}
